@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
.notosanskr * {
  font-family: "Noto Sans KR", sans-serif;
}

*, *::after, *::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  width: 100%;
}

.body_lock {
  height: 100%;
  overflow: hidden;
}

#back_img {
  width: 100%;
  height: 800px;
  background-image: url(../img/background_0.jpg);
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 40px;
}

/* 헤더 */
header {
  width: 100%;
  height: 60px;
  background: #005BAE;
  position: fixed;
  z-index: 1000;
  top: 0;
}
header #logo {
  float: left;
  height: 60px;
  line-height: 60px;
  margin-left: 20px;
}
header #logo img {
  height: 40px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
header #login_btn {
  color: #fff;
  font-size: 40px;
}
header #login_btn:hover {
  color: #3da1ff;
}
header #ham_btn {
  color: #fff;
  font-size: 40px;
}
header #ham_btn:hover {
  color: #3da1ff;
}
header > div > ul {
  float: right;
}
header > div > ul > li {
  float: left;
  margin-right: 10px;
}
header #tablet_pc_header {
  color: #414141;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}
header #tablet_pc_header li:hover {
  color: #3da1ff;
}
header #tablet_pc_header li {
  height: 80px;
  text-align: center;
  margin-right: 20px;
}
header #tablet_pc_header #lang_select_f {
  background: none;
  border: 0;
  color: #414141;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  outline: none;
  cursor: pointer;
}
header #tablet_pc_header #lang_select_f option {
  color: #414141;
}
header #tablet_pc_header #lang_select_f:hover {
  color: #3da1ff;
}

/* 햄버거메뉴 */
#modal {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 1001;
  display: none;
}

#ham_wrap {
  width: 80%;
  height: 100%;
  background: #fff;
  position: fixed;
  right: -80%;
  z-index: 1002;
  overflow-y: scroll;
  /* 스크롤 되게 */
}
#ham_wrap .xi-hamburger-out {
  color: #414141;
  font-size: 40px;
  height: 60px;
  line-height: 60px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
#ham_wrap .xi-hamburger-out:hover {
  color: #3da1ff;
}
#ham_wrap #ham_top {
  width: 80%;
  margin: 70px auto 40px;
  display: flex;
  justify-content: space-between;
}
#ham_wrap #ham_top li {
  width: 33.3%;
  color: #414141;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
#ham_wrap #ham_top li:hover {
  color: #3da1ff;
}
#ham_wrap #ham_top #lang_select_h {
  background: none;
  border: 0;
  color: #414141;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-weight: 600;
  outline: none;
  cursor: pointer;
}
#ham_wrap #ham_top #lang_select_h option {
  color: #414141;
}
#ham_wrap #ham_top #lang_select_h:hover {
  color: #3da1ff;
}
#ham_wrap .ham_quick {
  width: 80%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin: 20px auto 0;
  color: #414141;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
}
#ham_wrap .ham_quick i {
  font-size: 20px;
}
#ham_wrap #ham_login {
  background: #C2E2FF;
}
#ham_wrap #ham_login:hover {
  background: #90c9ff;
}
#ham_wrap #ham_go_ticket {
  background: #C2FFC8;
}
#ham_wrap #ham_go_ticket:hover {
  background: #88e991;
}
#ham_wrap #hammenu {
  width: 80%;
  margin: 40px auto 0px;
}
#ham_wrap #hammenu ul li:hover {
  color: #3da1ff;
}
#ham_wrap #hammenu .ham_main {
  color: #414141;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  margin: 40px 10px 20px;
}
#ham_wrap #hammenu .ham_main i {
  float: right;
  clear: both;
  position: relative;
  right: 10px;
  top: 5px;
}
#ham_wrap #hammenu .ham_sub {
  display: none;
}
#ham_wrap #hammenu .ham_sub li {
  color: #414141;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0 0 10px 30px;
}

#full_menu {
  width: 100%;
  height: 70px;
  position: absolute;
  z-index: 1000;
  top: 80px;
  background: #fff;
}
#full_menu #main_menu {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  height: 70px;
  margin: 0 auto;
}
#full_menu #main_menu li {
  color: #414141;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-weight: 700;
  height: 70px;
  line-height: 70px;
  text-align: center;
}
#full_menu #sub_menu {
  width: 100%;
  padding-top: 20px;
  height: 200px;
  background: #fff;
  border-top: 1px solid #cecece;
  display: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
#full_menu #sub_menu ul {
  display: none;
}
#full_menu #sub_menu ul li {
  color: #414141;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 16px;
  float: left;
  width: 25%;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
#full_menu #sub_menu ul li:hover {
  color: #005BAE;
  font-weight: 500;
}
#full_menu .sub_box {
  margin: 0 auto;
}

#ticket {
  position: relative;
  z-index: 6;
  top: 100px;
  width: 85%;
  height: 500px;
  margin: 0 auto;
}
#ticket #ticket_category {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  position: absolute;
  z-index: 1;
}
#ticket #ticket_category li {
  color: #414141;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  width: 25%;
  height: 100px;
  background: rgba(58, 60, 83, 0.9);
  border-radius: 15px;
  padding-top: 10px;
}
#ticket #ticket_category li:last-child {
  margin-right: 0;
}
#ticket #ticket_category .ticket_selected {
  background: #fff;
  color: #414141;
  font-weight: 600;
}
#ticket #ticket_main {
  width: 100%;
  height: 550px;
  background: #fff;
  position: absolute;
  top: 40px;
  z-index: 2;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
#ticket #ticket_main > div {
  float: left;
  width: 100%;
  height: 25%;
}
#ticket #ticket_main .ticket_sub {
  color: #414141;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
#ticket #ticket_main .ticket_title {
  color: #414141;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: 32px;
  cursor: pointer;
}
#ticket #ticket_main .ticket_xi {
  font-size: 32px;
  color: #414141;
}
#ticket #ticket_main #select_station {
  padding-top: 32px;
  width: 100%;
  display: flex;
  justify-content: center;
}
#ticket #ticket_main #select_station .ticket_title {
  font-size: 26px;
}
#ticket #ticket_main #select_station .ticket_sub {
  text-align: center;
}
#ticket #ticket_main #select_station form {
  height: 90px;
}
#ticket #ticket_main #select_station form > label {
  display: block;
}
#ticket #ticket_main #select_station form > input {
  display: block;
  width: 115px;
  border: none;
  text-align: center;
  border-radius: 0;
}
#ticket #ticket_main #select_station form > input::-moz-placeholder {
  color: #414141;
}
#ticket #ticket_main #select_station form > input::placeholder {
  color: #414141;
}
#ticket #ticket_main #select_station > div {
  height: 30px;
  width: 30px;
  margin: 40px 5px 0;
  border: 1px solid #adadad;
  border-radius: 40px;
  background: #fff;
  text-align: center;
}
#ticket #ticket_main #select_station > div:hover {
  background: #cfcfcf;
}
#ticket #ticket_main #select_station > div i {
  font-size: 26px;
  margin: 1px auto;
}
#ticket #ticket_main #select_station .ticket_title {
  margin-top: 13px;
  padding: 1px 0 11px 0;
  border-bottom: 1px solid #414141;
}
#ticket #ticket_main #select_station .select_station_window {
  display: none;
  position: absolute;
  z-index: 1000;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 650px;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
#ticket #ticket_main #select_station .select_station_window .close_win {
  border: none;
  width: 100%;
  height: 25px;
  line-height: 25px;
  font-size: 20px;
  background: #ffffff;
  border-radius: 20px 20px 0 0;
}
#ticket #ticket_main #select_station .select_station_window .close_win:hover {
  background: #cfcfcf;
}
#ticket #ticket_main #select_station .select_station_window .station_search {
  margin-top: 20px;
  height: 80px;
}
#ticket #ticket_main #select_station .select_station_window .station_search .search_win {
  width: 85%;
  height: 35px;
  background: #cfcfcf;
  margin: 0 auto;
  border-radius: 20px;
}
#ticket #ticket_main #select_station .select_station_window .station_search .search_win i.xi-search {
  margin-left: 20px;
  line-height: 35px;
  font-size: 20px;
  color: #414141;
  text-align: left;
}
#ticket #ticket_main #select_station .select_station_window .station_search .search_win .search_input {
  margin: 0 0 7px 20px;
  width: 170px;
  background: none;
  outline: none;
  border: none;
  line-height: 35px;
  color: #414141;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-weight: 600;
  padding: 0;
}
#ticket #ticket_main #select_station .select_station_window .station_search .result {
  width: 85%;
  margin: 20px auto 10px;
  height: 40px;
  line-height: 40px;
  text-align: left;
  color: #414141;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: 32px;
  font-size: 20px;
}
#ticket #ticket_main #select_station .select_station_window .station_search .result span {
  font-size: 12px;
}
#ticket #ticket_main #select_station .select_station_window .station_search .result span::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  background: #C2E2FF;
  margin: 0 10px 0 20px;
  border-radius: 5px;
}
#ticket #ticket_main #select_station .select_station_window .search_filter .station {
  width: 82%;
  height: 465px;
  margin: 20px auto;
}
#ticket #ticket_main #select_station .select_station_window .search_filter .station li {
  float: left;
  text-align: center;
  width: 23%;
  margin: 1%;
  height: 30px;
  line-height: 30px;
  background: #ECECEC;
  border-radius: 5px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #414141;
  cursor: pointer;
}
#ticket #ticket_main #select_station .select_station_window .search_filter .station li:hover {
  background: #cfcfcf;
}
#ticket #ticket_main #select_station .select_station_window .search_filter .station li.ktx_station {
  background: #C2E2FF;
}
#ticket #ticket_main #select_station .select_station_window .search_filter .station li.ktx_station:hover {
  background: #90c9ff;
}
#ticket #ticket_main #select_date .select_date_top {
  padding-top: 23.25px;
  width: 270px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
#ticket #ticket_main #select_date #round_trip {
  display: none;
  width: 270px;
  height: 53px;
  margin: 11px auto 0;
  position: relative;
  border-radius: none;
  background: #fff;
}
#ticket #ticket_main #select_date #round_trip #round_trip_wrap {
  display: flex;
  justify-content: space-between;
  width: 270px;
}
#ticket #ticket_main #select_date #round_trip label {
  display: block;
  color: #414141;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-size: 14px;
  font-weight: 600;
}
#ticket #ticket_main #select_date #round_trip input {
  color: #414141;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: 32px;
  font-size: 16px;
  text-align: center;
  border: none;
  width: 130px;
  border-bottom: 1px solid #414141;
  padding: 0 0 6px 0;
  border-radius: 0;
  background: #fff;
}
#ticket #ticket_main #select_date #oneway_trip {
  display: flex;
  width: 270px;
  margin: 11px auto 0;
  padding-bottom: 4px;
  border-bottom: 1px solid #414141;
}
#ticket #ticket_main #select_date #oneway_trip i {
  font-size: 32px;
  color: #414141;
  text-align: left;
  margin-top: 8px;
}
#ticket #ticket_main #select_date #oneway_trip #ticket_time {
  font-size: 32px;
  position: relative;
  width: 270px;
  border: none;
  text-align: right;
  background: #fff;
  border-radius: 0;
  height: 48px;
  line-height: 48px;
}
#ticket #ticket_main #select_date #oneway_trip input[type=date]::-webkit-calendar-picker-indicator, #ticket #ticket_main #select_date #oneway_trip ::-webkit-inner-spin-button {
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  color: transparent;
  cursor: pointer;
}
#ticket #ticket_main .ticket_btn {
  float: right;
}
#ticket #ticket_main .ticket_btn a {
  display: inline-block;
  width: 40px;
  height: 22px;
  line-height: 20px;
  margin-left: 5px;
  font-size: 14px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  border-radius: 5px;
  text-align: center;
  background: #fff;
  border: 1px solid #cfcfcf;
}
#ticket #ticket_main .ticket_btn a:hover {
  background: #cfcfcf;
}
#ticket #ticket_main .ticket_btn a.btn_selected {
  color: #fff;
  background: #005BAE;
  border: none;
}
#ticket #ticket_main #select_NumberOfPeople .ticket_sub {
  padding-top: 15px;
  width: 270px;
  margin: 0 auto;
  text-align: left;
}
#ticket #ticket_main #select_NumberOfPeople .select_num {
  width: 270px;
  margin: 11px auto 0;
  border-bottom: 1px solid #414141;
  display: flex;
  justify-content: space-between;
}
#ticket #ticket_main #select_NumberOfPeople .select_num input {
  width: 238px;
  text-align: right;
  border: none;
  height: 52px;
  line-height: 52px;
}
#ticket #ticket_main #select_NumberOfPeople .select_num i {
  font-size: 32px;
  color: #414141;
  text-align: left;
  margin-top: 12px;
}
#ticket #ticket_main #select_NumberOfPeople .select_num_window {
  display: none;
  z-index: 999;
  top: 390px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 480px;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
#ticket #ticket_main #select_NumberOfPeople .select_num_window .close_win {
  border: none;
  width: 100%;
  height: 25px;
  line-height: 25px;
  font-size: 20px;
  background: #ffffff;
  border-radius: 20px 20px 0 0;
}
#ticket #ticket_main #select_NumberOfPeople .select_num_window .close_win:hover {
  background: #cfcfcf;
}
#ticket #ticket_main #select_NumberOfPeople .select_num_window #select_num_wrap {
  width: 85%;
  margin: 0 auto;
  padding-top: 30px;
}
#ticket #ticket_main #select_NumberOfPeople .select_num_window #select_num_wrap .age_num {
  color: #414141;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  height: 60px;
  line-height: 60px;
  float: left;
  display: flex;
  justify-content: space-between;
}
#ticket #ticket_main #select_NumberOfPeople .select_num_window #select_num_wrap .age_num .add_num {
  width: 100px;
  display: flex;
  justify-content: space-evenly;
}
#ticket #ticket_main #select_NumberOfPeople .select_num_window #select_num_wrap .age_num .add_num input {
  width: 30px;
  text-align: center;
  border: none;
  color: #414141;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-weight: 600;
}
#ticket #ticket_main #select_NumberOfPeople .select_num_window #select_num_wrap .age_num .add_num div i {
  text-align: center;
  font-size: 16px;
  color: #414141;
  width: 20px;
  height: 20px;
  line-height: 18px;
  background: #fff;
  border: 1px solid #414141;
  border-radius: 20px;
}
#ticket #ticket_main #select_NumberOfPeople .select_num_window #select_num_wrap .age_num .add_num div i:hover {
  background: #005BAE;
  color: #fff;
}
#ticket #ticket_main #select_discount {
  display: none;
  padding-top: 15px;
  margin: 0 auto;
  width: 100%;
}
#ticket #ticket_main #select_discount .ticket_sub {
  width: 270px;
  margin: 0 auto;
  text-align: left;
}
#ticket #ticket_main #select_discount #select_dis_wrap {
  margin: 10px auto 0;
  width: 270px;
  display: flex;
  justify-content: space-between;
}
#ticket #ticket_main #select_discount #select_dis_wrap form {
  width: 130px;
  border-bottom: 1px solid #414141;
}
#ticket #ticket_main #select_discount #select_dis_wrap form.select_num_dis div {
  display: flex;
  justify-content: space-between;
}
#ticket #ticket_main #select_discount #select_dis_wrap form.select_num_dis div i {
  font-size: 22px;
  margin-top: 8px;
}
#ticket #ticket_main #select_discount #select_dis_wrap form.select_num_dis div input {
  width: 102px;
}
#ticket #ticket_main #select_discount #select_dis_wrap form label {
  display: block;
  color: #414141;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-weight: 600;
  font-size: 12px;
}
#ticket #ticket_main #select_discount #select_dis_wrap form input {
  width: 130px;
  text-align: center;
  border: none;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  border-radius: 0;
  background: #fff;
  margin: 3px 0 3px 0;
}
#ticket #ticket_main #select_discount .select_dis_window {
  display: none;
  z-index: 999;
  top: 390px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
#ticket #ticket_main #select_discount .select_dis_window .close_win {
  border: none;
  width: 100%;
  height: 25px;
  line-height: 25px;
  font-size: 20px;
  background: #ffffff;
  border-radius: 20px 20px 0 0;
}
#ticket #ticket_main #select_discount .select_dis_window .close_win:hover {
  background: #cfcfcf;
}
#ticket #ticket_main #select_discount .select_dis_window .discount_category {
  width: 80%;
  margin: 30px auto 0;
}
#ticket #ticket_main #select_discount .select_dis_window .discount_category li {
  color: #414141;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-weight: 600;
  float: left;
  width: 50%;
  text-align: center;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
}
#ticket #ticket_main #select_discount .select_dis_window .discount_category li:hover {
  color: #3da1ff;
}
#ticket #ticket_main #select_discount .select_num_window_discount {
  display: none;
  z-index: 999;
  top: 390px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 480px;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
#ticket #ticket_main #select_discount .select_num_window_discount .close_win {
  border: none;
  width: 100%;
  height: 25px;
  line-height: 25px;
  font-size: 20px;
  background: #ffffff;
  border-radius: 20px 20px 0 0;
}
#ticket #ticket_main #select_discount .select_num_window_discount .close_win:hover {
  background: #cfcfcf;
}
#ticket #ticket_main #select_discount .select_num_window_discount #select_num_dis_wrap {
  width: 85%;
  margin: 0 auto;
  padding-top: 30px;
}
#ticket #ticket_main #select_discount .select_num_window_discount #select_num_dis_wrap .age_num {
  color: #414141;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  height: 60px;
  line-height: 60px;
  float: left;
  display: flex;
  justify-content: space-between;
}
#ticket #ticket_main #select_discount .select_num_window_discount #select_num_dis_wrap .age_num .dis_add_num {
  width: 100px;
  display: flex;
  justify-content: space-evenly;
}
#ticket #ticket_main #select_discount .select_num_window_discount #select_num_dis_wrap .age_num .dis_add_num input {
  width: 30px;
  text-align: center;
  border: none;
  color: #414141;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-weight: 600;
}
#ticket #ticket_main #select_discount .select_num_window_discount #select_num_dis_wrap .age_num .dis_add_num div i {
  text-align: center;
  font-size: 16px;
  width: 20px;
  height: 20px;
  line-height: 18px;
  background: #fff;
  color: #414141;
  border: 1px solid #414141;
  border-radius: 20px;
}
#ticket #ticket_main #select_discount .select_num_window_discount #select_num_dis_wrap .age_num .dis_add_num div i:hover {
  background: #005BAE;
  color: #fff;
}
#ticket #ticket_main #select_train .select_train_top {
  position: relative;
  width: 270px;
  margin: 15px auto 0;
  display: flex;
  justify-content: space-between;
}
#ticket #ticket_main #select_train .train {
  display: flex;
  justify-content: space-between;
  width: 270px;
  margin: 11px auto 0;
  border-bottom: 1px solid #414141;
  padding: 0 0 4px 0;
}
#ticket #ticket_main #select_train .train #select_train_box {
  font-size: 28px;
  width: 198px;
  border: none;
  text-align: center;
  height: 48px;
  line-height: 48px;
}
#ticket #ticket_main #select_train .train .search_btn {
  font-size: 24px;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background: #005BAE;
  border: none;
  border-radius: 10px;
  margin-top: 6px;
  cursor: pointer;
}
#ticket #ticket_main #select_train .train .search_btn:hover {
  background: #3da1ff;
}
#ticket #ticket_main #select_train .train .search_btn i {
  text-align: center;
  margin-top: 5px;
}
#ticket #ticket_main #select_train .train i.xi-train {
  padding-top: 10px;
}
#ticket #ticket_main #select_train .select_train_window {
  display: none;
  z-index: 998;
  top: 525px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
#ticket #ticket_main #select_train .select_train_window .close_win {
  border: none;
  width: 100%;
  height: 25px;
  line-height: 25px;
  font-size: 20px;
  background: #ffffff;
  border-radius: 20px 20px 0 0;
}
#ticket #ticket_main #select_train .select_train_window .close_win:hover {
  background: #cfcfcf;
}
#ticket #ticket_main #select_train .select_train_window #train_wrap {
  width: 80%;
  margin: 30px auto 0;
}
#ticket #ticket_main #select_train .select_train_window #train_wrap ul li {
  color: #414141;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-weight: 600;
  float: left;
  width: 50%;
  text-align: center;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
}
#ticket #ticket_main #select_train .select_train_window #train_wrap ul li:hover {
  color: #3da1ff;
}
#ticket #ticket_main #select_train .select_train_window #train_wrap .tour_train {
  display: none;
}

#banner {
  margin-top: 400px;
  margin: 370px auto 0;
  width: 90%;
}
#banner #slide_banner {
  position: relative;
}
#banner #slide_banner li {
  margin: 0 5px;
}
#banner #slide_banner li img {
  width: 100%;
  border-radius: 20px;
}
#banner #slide_banner .slick-arrow {
  cursor: pointer;
  border: none;
  color: transparent;
  font-size: 0;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.3) 0px 2px 4px -1px;
  position: absolute;
  z-index: 5;
  top: 50%;
  transform: translateY(-50%);
}
#banner #slide_banner .slick-arrow:hover {
  background: #ececec;
}
#banner #slide_banner .slick-arrow::before {
  font-family: "xeicon";
  color: #414141;
  font-size: 20px;
  font-weight: 700;
  content: "\e940";
}
#banner #slide_banner .slick-arrow.slick-prev {
  left: -4%;
}
#banner #slide_banner .slick-arrow.slick-prev::before {
  content: "\e93d";
}
#banner #slide_banner .slick-arrow.slick-next {
  right: -4%;
}
#banner #slide_banner .slick-arrow.slick-next::before {
  content: "\e940";
}
#banner #slide_banner .slick-dots {
  text-align: center;
  margin-top: 5px;
}
#banner #slide_banner .slick-dots li {
  display: inline-block;
}
#banner #slide_banner .slick-dots li button {
  border: none;
  font-size: 0;
  color: transparent;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  background: #cfcfcf;
  cursor: pointer;
}
#banner #slide_banner .slick-dots li button:hover {
  background: #adadad;
}
#banner #slide_banner .slick-dots li.slick-active button {
  background: #414141;
}

#guide {
  width: 90%;
  margin: 80px auto 80px;
}
#guide .guide_title {
  color: #414141;
  font-family: "Noto Sans KR Black", sans-serif;
  font-size: 32px;
  text-align: center;
  margin-bottom: 30px;
}
#guide .guide_list ul {
  float: left;
  width: 25%;
  margin-bottom: 20px;
}
#guide .guide_list ul:hover {
  color: #005BAE;
}
#guide .guide_list ul:hover li:first-child {
  background: #cfcfcf;
}
#guide .guide_list ul li {
  text-align: center;
}
#guide .guide_list ul li:first-child {
  border: 1px solid #cfcfcf;
  border-radius: 10px;
  width: 70px;
  height: 70px;
  line-height: 90px;
  margin: 0 auto;
  position: relative;
  background: #fff;
}
#guide .guide_list ul li:first-child a {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#guide .guide_list ul li:last-child {
  margin-top: 5px;
  color: #414141;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-size: 12px;
  font-weight: 700;
}
#guide .guide_list ul li img {
  height: 30px;
}

.more a {
  color: #414141;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-size: 14px;
}
.more a:hover {
  color: #3da1ff;
}
.more i {
  display: inline;
  font-size: 13px;
}
.more:hover {
  color: #3da1ff;
}

#contents {
  margin-top: 80px;
}
#contents ul.flex {
  display: flex;
  justify-content: space-between;
}
#contents .contents_top {
  height: 70px;
  line-height: 70px;
}
#contents .contents_top .contents_title {
  color: #414141;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: 32px;
}
#contents #announcement {
  width: 90%;
  margin: 0 auto;
}
#contents #announcement ul:first-child {
  border-bottom: 1px solid #8D8C8C;
}
#contents #announcement .announcement_board {
  height: 60px;
  line-height: 60px;
  font-family: "Noto Sans KR", sans-serif;
  border-bottom: 1px solid #8D8C8C;
  overflow: hidden;
}
#contents #announcement .announcement_board .ab_text {
  width: 75%;
  color: #414141;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 16px;
  overflow: hidden;
}
#contents #announcement .announcement_board .ab_date {
  width: 20%;
  color: #414141;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-size: 12px;
  text-align: right;
}
#contents #magazine {
  margin: 30px auto 0;
  width: 90%;
}
#contents #magazine .magazine_img {
  width: 100%;
  height: 250px;
  background: url(../img/magazine_0.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
#contents #magazine .magazine_title {
  padding-top: 5px;
  height: 40px;
  line-height: 40px;
}
#contents #magazine .magazine_title .magazine_sub {
  font-family: "Noto Sans KR", sans-serif;
  color: #8D8C8C;
  font-size: 16px;
  font-weight: 700;
}
#contents #magazine .magazine_title .magazine_sub:hover {
  text-decoration: underline;
}
#contents #magazine .magazine_title .magazine_main {
  color: #414141;
  font-family: "Noto Sans KR Black", sans-serif;
  font-size: 24px;
}
#contents #magazine .magazine_title .magazine_main:hover {
  text-decoration: underline;
}
#contents #magazine > li {
  height: 70px;
  color: #414141;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-size: 12px;
  padding-top: 5px;
  clear: both;
}

#trip {
  width: 90%;
  margin: 80px auto 0;
}
#trip #trip_top {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
}
#trip #trip_top ul {
  line-height: 70px;
  display: flex;
}
#trip #trip_top ul .contents_title {
  color: #414141;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: 32px;
}
#trip #trip_top ul .trip_btn {
  margin-left: 20px;
  text-align: center;
}
#trip #trip_top ul .trip_btn a {
  display: inline-block;
  width: 40px;
  height: 22px;
  line-height: 20px;
  margin-left: 5px;
  font-size: 14px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  border-radius: 5px;
  color: #414141;
  background: #fff;
  border: 1px solid #cfcfcf;
}
#trip #trip_top ul .trip_btn a:hover {
  background: #cfcfcf;
}
#trip #trip_top ul .trip_btn a.p_btn_selected {
  color: #fff;
  background: #005BAE;
  border: none;
}
#trip #trip_top .more {
  line-height: 70px;
}
#trip .trip_box > ul {
  margin-bottom: 40px;
  width: 100%;
  aspect-ratio: 5/2;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  cursor: pointer;
}
#trip .trip_box > ul:hover {
  opacity: 0.7;
}
#trip .trip_box > ul li:first-child {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 20px 20px 0 0;
}
#trip .trip_box > ul li:last-child {
  margin: 10px 10px 10px 20px;
  height: 70px;
  color: #414141;
  font-family: "Noto Sans KR", sans-serif;
}
#trip .trip_box > ul li:last-child a {
  font-size: 20px;
  font-weight: 700;
}
#trip .trip_box > ul li:last-child span {
  display: block;
  height: 17px;
  font-size: 12px;
  font-weight: 400;
}
#trip .trip_box > ul .sightseeing_train_img {
  background: url(../img/package1.jpg);
}
#trip .trip_box > ul .nailo_img {
  background: url(../img/package2.jpg);
}
#trip .trip_box > ul .Japan_pass_img {
  background: url(../img/abroad1.jpg);
}
#trip .trip_box > ul .Europe_pass_img {
  background: url(../img/abroad2.jpg);
}
#trip .trip_box#trip_overseas {
  display: none;
}

footer {
  margin-top: 100px;
  width: 100%;
  height: 470px;
  background: #414141;
}
footer #f_top {
  width: 100%;
}
footer #f_top #scrl_top {
  width: 100%;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #676767;
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
  color: #fff;
}
footer #f_top #scrl_top a i {
  margin-right: 7px;
}
footer #f_bot {
  width: 100%;
  height: 420px;
  background: #414141;
}
footer #f_bot .icon_wrap {
  height: 60px;
}
footer #f_bot .icon_wrap .f_logo {
  text-align: center;
  padding: 20px 0 50px;
  height: 60px;
}
footer #f_bot .icon_wrap .f_logo img {
  width: 200px;
}
footer #f_bot .icon_wrap .f_sns {
  margin-top: 20px;
  text-align: center;
  height: 60px;
}
footer #f_bot .icon_wrap .f_sns a i {
  color: #fff;
  font-size: 30px;
  line-height: 60px;
}
footer #f_bot .copy {
  width: 335px;
  height: 170px;
  margin: 100px auto 0;
}
footer #f_bot .copy ul {
  margin: 0 0 10px 35px;
}
footer #f_bot .copy ul li {
  float: left;
  color: #414141;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-size: 14px;
  color: #fff;
  margin-right: 20px;
  margin-left: 10px;
}
footer #f_bot .copy address {
  font-size: 12px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  color: #fff;
  text-align: center;
  margin-top: 50px;
}

/* responsive window */
.show_in_tablet {
  display: none;
}

.show_in_PC {
  display: none;
}

.category_text_add {
  display: none;
}

@media screen and (min-width: 441px) {
  #guide .guide_list ul li:first-child {
    width: 90px;
    height: 90px;
    line-height: 90px;
  }
  #guide .guide_list ul li:first-child a {
    top: 65%;
  }
  #guide .guide_list ul li:last-child {
    font-size: 12px;
  }
  #guide .guide_list ul li img {
    height: 40px;
  }
  #ticket #ticket_main #select_station .select_station_window {
    height: 580px;
  }
  #ticket #ticket_main #select_station .select_station_window .search_filter .station li {
    width: 18%;
  }
}
@media screen and (min-width: 740px) {
  .show_in_mobile {
    display: none;
  }
  #back_img {
    top: -80px;
  }
  #ham, #mobile_header {
    display: none;
  }
  #logo img {
    height: 50px;
  }
  header {
    height: 80px;
    position: absolute;
  }
  header #logo {
    height: 80px;
    line-height: 80px;
  }
  header #logo img {
    margin-bottom: 5px;
  }
  header ul li {
    height: 80px;
    line-height: 80px;
  }
  .show_in_tablet {
    display: block;
  }
  .category_text_add {
    display: inline;
  }
  #ticket {
    top: 240px;
  }
  #ticket #ticket_main {
    height: 300px;
    padding-top: 15px;
  }
  #ticket #ticket_main > div {
    float: left;
    width: 50%;
    height: 50%;
  }
  #ticket #ticket_main #select_station {
    width: 50%;
  }
  #ticket #ticket_main #select_station .select_station_window {
    top: 140px;
    width: 100%;
  }
  #ticket #ticket_main #select_station .select_station_window .search_filter .station li {
    width: 14.66%;
  }
  #ticket #ticket_main #select_date {
    width: 50%;
  }
  #ticket #ticket_main #select_date .select_date_top {
    padding-top: 32px;
  }
  #ticket #ticket_main #select_NumberOfPeople {
    width: 50%;
  }
  #ticket #ticket_main #select_NumberOfPeople .ticket_sub {
    padding-top: 15px;
  }
  #ticket #ticket_main #select_NumberOfPeople .select_num_window {
    top: 265px;
    height: 300px;
  }
  #ticket #ticket_main #select_NumberOfPeople .select_num_window #select_num_wrap .age_num {
    width: 45%;
  }
  #ticket #ticket_main #select_NumberOfPeople .select_num_window #select_num_wrap .age_num:nth-child(odd) {
    margin-right: 10%;
  }
  #ticket #ticket_main #select_discount {
    width: 50%;
  }
  #ticket #ticket_main #select_discount .select_dis_window {
    top: 265px;
  }
  #ticket #ticket_main #select_discount .select_num_window_discount {
    top: 265px;
    height: 300px;
  }
  #ticket #ticket_main #select_discount .select_num_window_discount #select_num_dis_wrap .age_num {
    width: 45%;
  }
  #ticket #ticket_main #select_discount .select_num_window_discount #select_num_dis_wrap .age_num:nth-child(odd) {
    margin-right: 10%;
  }
  #ticket #ticket_main #select_train .select_train_window {
    top: 265px;
    height: 250px;
  }
  #ticket #ticket_main #select_train .select_train_window #train_wrap ul li {
    width: 33%;
  }
  #banner {
    margin-top: 260px;
  }
  #guide .guide_list ul li:first-child {
    width: 130px;
    height: 130px;
    line-height: 130px;
  }
  #guide .guide_list ul li:first-child a {
    top: 70%;
  }
  #guide .guide_list ul li:last-child {
    font-size: 16px;
  }
  #guide .guide_list ul li img {
    height: 60px;
  }
  #contents .magazine_title .magazine_sub {
    font-size: 20px !important;
  }
  #contents .magazine_title .magazine_main {
    font-size: 28px !important;
  }
  #trip .trip_box ul {
    float: left;
    width: 47.5%;
  }
  #trip .trip_box ul:first-child {
    margin-right: 2.5%;
  }
  #trip .trip_box ul:last-child {
    margin-left: 2.5%;
  }
  footer {
    height: 350px;
  }
  footer #f_top {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
  }
  footer #f_top #f_info {
    width: 85%;
    height: 50px;
    border-bottom: 1px solid #676767;
  }
  footer #f_top #f_info ul {
    padding-left: 30px;
    line-height: 50px;
  }
  footer #f_top #f_info ul li {
    float: left;
    color: #414141;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-size: 14px;
    color: #fff;
    margin-right: 30px;
  }
  footer #f_top #scrl_top {
    width: 15% !important;
    border-left: 1px solid #676767;
  }
  footer #f_bot {
    height: 300px;
  }
  footer #f_bot .icon_wrap {
    width: 100%;
    margin-top: 20px;
  }
  footer #f_bot .icon_wrap .f_logo {
    float: left;
    clear: both;
    height: 60px;
    margin-left: 30px;
    padding: 10px 0 0 0;
  }
  footer #f_bot .icon_wrap .f_sns {
    margin-top: 0;
    float: right;
    height: 60px;
    padding-right: 30px;
  }
  footer #f_bot .copy {
    width: 100%;
    height: 170px;
    margin-top: 30px;
    padding-left: 30px;
  }
  footer #f_bot .copy ul {
    margin: 0 auto 10px;
  }
  footer #f_bot .copy ul li {
    float: left;
    color: #fff;
    margin-right: 20px;
    margin-left: 10px;
  }
  footer #f_bot .copy address {
    color: #fff;
    margin-top: 20px;
    margin-left: 10px;
    text-align: left;
  }
}
@media screen and (min-width: 980px) {
  #contents {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin: 50px auto 0;
  }
  #contents #magazine {
    margin: 0 0 0 40px;
  }
  #ticket #ticket_main #select_station {
    width: 50%;
  }
  #ticket #ticket_main #select_station .select_station_window {
    top: 140px;
    height: 500px;
    max-width: 1280px;
  }
  #ticket #ticket_main #select_station .select_station_window .search_filter .station li {
    width: 10.5%;
  }
}
@media screen and (min-width: 1320px) {
  .show_in_PC {
    display: block;
  }
  #header_wrap, #main_menu, .sub_box {
    width: 1320px;
  }
  header {
    display: flex;
    justify-content: center;
  }
  #back_img {
    top: -120px;
    width: 100%;
    background-size: cover;
    background-position: bottom;
  }
  #main_menu li {
    font-size: 18px;
  }
  #ticket {
    width: 1280px;
    top: 280px;
  }
  #ticket #ticket_main {
    height: 200px;
    padding-top: 0;
  }
  #ticket #ticket_main #select_station {
    width: 25%;
    padding-top: 57px;
  }
  #ticket #ticket_main #select_station .ticket_title {
    margin-top: 12px;
  }
  #ticket #ticket_main #select_station .select_station_window {
    top: 150px;
    max-width: 1280px;
    height: 450px;
  }
  #ticket #ticket_main #select_station .select_station_window .search_filter .station li {
    width: 8%;
  }
  #ticket #ticket_main #select_date {
    width: 25%;
  }
  #ticket #ticket_main #select_date .select_date_top {
    padding-top: 57px;
  }
  #ticket #ticket_main #select_NumberOfPeople {
    width: 25%;
  }
  #ticket #ticket_main #select_NumberOfPeople .ticket_sub {
    padding-top: 57px;
  }
  #ticket #ticket_main #select_NumberOfPeople .select_num_window {
    top: 155px;
    height: 300px;
  }
  #ticket #ticket_main #select_NumberOfPeople .select_num_window #select_num_wrap {
    width: 75%;
  }
  #ticket #ticket_main #select_NumberOfPeople .select_num_window #select_num_wrap .age_num {
    width: 40%;
  }
  #ticket #ticket_main #select_NumberOfPeople .select_num_window #select_num_wrap .age_num:nth-child(odd) {
    margin-right: 20%;
  }
  #ticket #ticket_main #select_discount {
    width: 25%;
    padding-top: 57px;
  }
  #ticket #ticket_main #select_discount .select_dis_window {
    top: 155px;
  }
  #ticket #ticket_main #select_discount .select_num_window_discount {
    top: 155px;
    height: 300px;
  }
  #ticket #ticket_main #select_discount .select_num_window_discount #select_num_dis_wrap {
    width: 75%;
  }
  #ticket #ticket_main #select_discount .select_num_window_discount #select_num_dis_wrap .age_num {
    width: 40%;
  }
  #ticket #ticket_main #select_discount .select_num_window_discount #select_num_dis_wrap .age_num:nth-child(odd) {
    margin-right: 20%;
  }
  #ticket #ticket_main #select_train {
    width: 25%;
  }
  #ticket #ticket_main #select_train .select_train_window {
    top: 155px;
    height: 250px;
  }
  #ticket #ticket_main #select_train .select_train_window #train_wrap ul li {
    width: 25%;
  }
  #ticket #ticket_main #select_train > ul:first-child {
    margin-top: 56px;
  }
  #banner {
    margin-top: 250px;
    width: 1280px;
  }
  #guide {
    max-width: 1280px;
  }
  #guide .guide_list ul {
    width: 12.5%;
  }
  #contents {
    width: 1260px;
  }
  #trip {
    width: 1280px;
  }
  footer {
    height: 300px;
  }
  footer #f_bot {
    height: 220px;
    position: relative;
  }
  footer #f_bot .copy {
    width: 800px;
    position: absolute;
    top: -15px;
    left: 350px;
  }
  footer #f_bot .site_map {
    position: absolute;
    top: 80px;
    right: 30px;
  }
  footer #f_bot .site_map #family_site {
    width: 135px;
    height: 30px;
    line-height: 30px;
    color: #414141;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    border: 0;
    border-bottom: 1px solid #fff;
    background: none;
    outline: none;
  }
  footer #f_bot .site_map #family_site option {
    color: #414141;
  }
}/*# sourceMappingURL=main.css.map */