@charset "utf-8";

@mixin align_vertical{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

@mixin sub_text_to_size {
    font-family: 'Noto Sans KR',sans-serif;
    font-weight: 400;
    font-size: 16px; 
}

@mixin sub_text {
    color: #414141;
    @include sub_text_to_size;
}

@mixin title_text {
    color: #414141;
    font-family: 'Noto Sans KR',sans-serif;
    font-weight: 700;
    font-size: 32px; 
}

*,*::after,*::before {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    width: 100%;
}

#back_img {
    width: 100%;
    height: 800px;
    background-image: url(../img/background_0.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 40px;
}

/* 헤더 */
header {
    width: 100%;
    height: 60px;
    background: #005BAE;
    position: fixed;
    z-index: 1000; 
    top: 0;

    li {
        height: 60px;
        line-height: 60px ;
    }
    #login_btn {
        color: #fff;
        font-size: 40px;
    }
    #ham_btn {
        color: #fff;
        font-size: 40px;
    }
    &>div>li {
        float: left;
    }
    &>div>ul {
        float: right;

        &>li {
        float: left;
        margin-right: 10px;
        }
    }
    
}

#logo {
    margin-left: 20px;
    img {
    height: 40px;
    @include align_vertical;
    }
}

/* 햄버거메뉴 */
#modal {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    position: fixed;
    z-index: 1001;
    display: none;
}
#ham_wrap {
    width: 80%;
    height: 100%;
    background: #fff;
    position: fixed;
    right: -80%;
    z-index: 1002;
    overflow-y: scroll;
    /* 스크롤 되게 */
}
.xi-hamburger-out {
    color: #414141;
    font-size: 40px;
    height: 60px;
    line-height: 60px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
#ham_top {
    width: 80%;
    margin: 70px auto 40px;
    display: flex;
    
    li {
        width: 33.3%;
        font-family: 'Noto Sans KR',sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: #414141;
        text-align: center;
    }
}
.ham_quick {
    width: 80%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 20px auto 0;
    font-family: 'Noto Sans KR',sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #414141;
    border-radius: 10px;

    i {
        font-size: 20px;
    }
}
#ham_login {
    background: #C2E2FF;
}
#ham_go_ticket {
    background: #C2FFC8;
}
#hammenu {
    width: 80%;
    margin: 40px auto 0px;
}
.ham_main {
    color: #414141;
    font-family: 'Noto Sans KR',sans-serif;
    font-weight: 700;
    font-size: 20px; 
    cursor: pointer;
    margin: 40px 10px 20px;

    i {
        float: right;
        clear: both;
        position: relative;
        right: 10px;
        top: 5px;
    }
}

.ham_sub {
    display: none;
    li {
        color: #414141;
        font-family: 'Noto Sans KR',sans-serif;
        font-weight: 400;
        font-size: 16px; 
        margin: 0 0 10px 30px;
    }
}

#tablet_pc_header {
    color: #fff;
    font-family: 'Noto Sans KR',sans-serif;
    font-weight: 400;
    font-size: 16px;

    li {
        height: 80px;
        text-align: center;
        margin-right: 20px;
    }
}

#full_menu {
    width: 100%;
    height: 70px;
    position: absolute;
    z-index: 3;
    top: 80px;
    background: #fff;
}
#main_menu {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 70px;
    margin: 0 auto;

    li {
        color: #414141;
        font-family: 'Noto Sans KR',sans-serif;
        font-weight: 700;
        font-size: 16px;
        height: 70px;
        line-height: 70px;
        text-align: center;
    }
}
#sub_menu {
    width: 100%;
    padding-top: 20px;
    height: 200px;
    background: #C2E2FF;
    border-top: 1px solid #cecece;
    display: none;
    ul {
        display: none;
        li {
            @include sub_text;
            float: left;
            width: 25%;
            height: 50px;
            line-height: 50px;
            text-align: center;

            &:hover {
                color: #005BAE;
                font-weight: 500;
            }
        }

    }
}
.sub_box {
    margin: 0 auto;
}

// 메인 - 승차권 예매
#ticket {
    position: relative;
    top: 100px;
    width: 85%;
    height: 500px;
    margin: 0 auto;
    text-align: center;
    
    #ticket_category {
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        width: 100%;
        position: absolute;
        z-index: 1;
        

        li {
            @include sub_text_to_size;
            color: #fff;
            width: 25%;
            height: 100px;
            background: rgba(58, 60, 83, 0.9);
            border-radius: 15px;
            padding-top: 10px;
            &:last-child {
                margin-right: 0;
            }
        }
        .ticket_selected {
            background: #fff;
            color: #414141;
            font-weight: 600;
        }
    }
    #ticket_main {
        width: 100%;
        height: 550px;
        background: #fff;
        position: absolute;
        top: 40px;
        z-index: 2;
        border-radius: 20px;
        
    
        >div {
            float: left;
            width: 100%;
            height: 25%;
        }

        .ticket_sub {
            @include sub_text;
        }
        .ticket_title {
            @include title_text;
        }
        .ticket_xi {
            font-size: 32px;
            color: #414141;
        }
        #select_station {
            display: flex;
            justify-content: center;

            ul {
                height: 80px;
                width: 70px;
                margin: auto 10px;
            }
            >li {
                height: 40px;
                width: 40px;
                margin: auto 10px;
                border: 1px solid #414141;
                border-radius: 40px;

                i {
                    margin: 4px auto;
                }
            }
            .ticket_title {
                margin-top: 5px;
                padding-bottom: 5px;
                border-bottom: 1px solid #414141;
            }
        } // select_station 종료
        
        // select_date ~ _train 까지 양식 동시 적용
        >div:nth-child(2), >div:nth-child(3), >div:nth-child(4) {
            ul {
                width: 270px;
                margin: 0 auto;

                &:first-child {
                    height: 30px;
                    line-height: 30px;
                }
                &:last-child {
                    height: 60px;
                    line-height: 60px;
                    border-bottom: 1px solid #414141;
                }
            }
        }
        // 버튼
        .ticket_btn {
            float: right;
                
            a {
                display: inline-block;
                width: 40px;
                height: 22px;
                line-height: 20px;
                margin-left: 5px;
                font-size: 14px;
                font-family: 'Noto Sans KR',sans-serif;
                font-weight: 500;
                border-radius: 5px;

                color: #414141;
                background: #fff;
                border: 1px solid #cfcfcf;
                
                &.btn_selected {
                    color: #fff;
                    background: #005BAE;
                    border: none;
                }
            }
        } // .ticket_btn 종료
        #select_NumberOfPeople {
            >li {
                width: 270px;
                margin: 0 auto;
                text-align: left;
            }
        }
        #select_train {
            .search_btn {
                display: inline-block;
                width: 40px;
                height: 40px;
                line-height: 40px;
                margin-left: 30px;
                color: #fff;
                background: #005BAE;
                border-radius: 10px;

                i {
                    margin-bottom: 8px;
                }
            }
        }

    } // #ticket_main 종료
} // #ticket 종료

ul.cf {
    li:first-child {
    float: left;
    clear: both;
    }
    li:last-child {
        float: right
    }
    i {
        vertical-align: middle;

    }

}


/* responsive window */
.show_in_tablet {
    display: none;
}
/* 태블릿 항목 안보이게 */

@media screen and (min-width:740px) {
    #back_img {
        top: -100px;
    }

    #ham, #mobile_header {
        display: none;
    }
    #logo img {
        height: 50px;
    }
    header {
        height: 80px;
        position: absolute;
        li {
            height: 80px;
            line-height: 80px;
        }
    }
    .show_in_tablet {
        display: block;
    }

    #ticket {
            top: 200px;
        #ticket_main {
            height: 300px;
            &>div {
                float: left;
                width: 50%;
                height: 50%;
            } 
            #select_date ul:first-child {
                margin-top: 42.5px;
            }
        }
    }
    

}
@media screen and (min-width:1320px) {
    #header_wrap, #main_menu, .sub_box {
        width: 1320px;
    }
    header {
        display: flex;
        justify-content: center;
    }
    #back_img {
        top: -100px;
        width: 1920px;
        background-size: cover;
        background-position: bottom;

    }
    #ticket {
        width: 1280px;
        top: 250px;
    #ticket_main {
        height: 200px;
        &>div {
            float: left;
            width: 25%;
            height: 100%;
        } 
        #select_date ul:first-child {
            margin-top: 52px;
        }
        #select_NumberOfPeople>li {
            margin-top: 58px;
        }
        #select_train ul:first-child {
            margin-top: 52px;
        }
    }
}
}