@charset "UTF-8";
*, *::after, *::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  width: 100%;
}

.body_lock {
  height: 100%;
  overflow: hidden;
}

#back_img {
  width: 100%;
  height: 800px;
  background-image: url(../img/background_0.jpg);
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 40px;
}

/* 헤더 */
header {
  width: 100%;
  height: 60px;
  background: #005BAE;
  position: fixed;
  z-index: 1000;
  top: 0;
}
header li {
  height: 60px;
  line-height: 60px;
}
header #login_btn {
  color: #fff;
  font-size: 40px;
}
header #ham_btn {
  color: #fff;
  font-size: 40px;
}
header > div > li {
  float: left;
}
header > div > ul {
  float: right;
}
header > div > ul > li {
  float: left;
  margin-right: 10px;
}
header #tablet_pc_header {
  color: #fff;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
header #tablet_pc_header li {
  height: 80px;
  text-align: center;
  margin-right: 20px;
}

#logo {
  margin-left: 20px;
}
#logo img {
  height: 40px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* 햄버거메뉴 */
#modal {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 1001;
  display: none;
}

#ham_wrap {
  width: 80%;
  height: 100%;
  background: #fff;
  position: fixed;
  right: -80%;
  z-index: 1002;
  overflow-y: scroll;
  /* 스크롤 되게 */
}

.xi-hamburger-out {
  color: #414141;
  font-size: 40px;
  height: 60px;
  line-height: 60px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

#ham_top {
  width: 80%;
  margin: 70px auto 40px;
  display: flex;
}
#ham_top li {
  width: 33.3%;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #414141;
  text-align: center;
}

.ham_quick {
  width: 80%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin: 20px auto 0;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #414141;
  border-radius: 10px;
}
.ham_quick i {
  font-size: 20px;
}

#ham_login {
  background: #C2E2FF;
}

#ham_go_ticket {
  background: #C2FFC8;
}

#hammenu {
  width: 80%;
  margin: 40px auto 0px;
}

.ham_main {
  color: #414141;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  margin: 40px 10px 20px;
}
.ham_main i {
  float: right;
  clear: both;
  position: relative;
  right: 10px;
  top: 5px;
}

.ham_sub {
  display: none;
}
.ham_sub li {
  color: #414141;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0 0 10px 30px;
}

#full_menu {
  width: 100%;
  height: 70px;
  position: absolute;
  z-index: 3;
  top: 80px;
  background: #fff;
}

#main_menu {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  height: 70px;
  margin: 0 auto;
}
#main_menu li {
  color: #414141;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: 16px;
  height: 70px;
  line-height: 70px;
  text-align: center;
}

#sub_menu {
  width: 100%;
  padding-top: 20px;
  height: 200px;
  background: #fff;
  border-top: 1px solid #cecece;
  display: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
#sub_menu ul {
  display: none;
}
#sub_menu ul li {
  color: #414141;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 16px;
  float: left;
  width: 25%;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
#sub_menu ul li:hover {
  color: #005BAE;
  font-weight: 500;
}

.sub_box {
  margin: 0 auto;
}

#ticket {
  position: relative;
  top: 100px;
  width: 85%;
  height: 500px;
  margin: 0 auto;
  text-align: center;
}
#ticket ul.cf li:first-child {
  float: left;
  clear: both;
}
#ticket ul.cf li:last-child {
  float: right;
}
#ticket ul.cf i {
  vertical-align: middle;
}
#ticket #ticket_category {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  position: absolute;
  z-index: 1;
}
#ticket #ticket_category li {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  width: 25%;
  height: 100px;
  background: rgba(58, 60, 83, 0.9);
  border-radius: 15px;
  padding-top: 10px;
}
#ticket #ticket_category li:last-child {
  margin-right: 0;
}
#ticket #ticket_category .ticket_selected {
  background: #fff;
  color: #414141;
  font-weight: 600;
}
#ticket #ticket_main {
  width: 100%;
  height: 550px;
  background: #fff;
  position: absolute;
  top: 40px;
  z-index: 2;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
#ticket #ticket_main > div {
  float: left;
  width: 100%;
  height: 25%;
}
#ticket #ticket_main .ticket_sub {
  color: #414141;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
#ticket #ticket_main .ticket_title {
  color: #414141;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: 32px;
}
#ticket #ticket_main .ticket_xi {
  font-size: 32px;
  color: #414141;
}
#ticket #ticket_main #select_station {
  display: flex;
  justify-content: center;
}
#ticket #ticket_main #select_station ul {
  height: 80px;
  width: 70px;
  margin: auto 10px;
}
#ticket #ticket_main #select_station > li {
  height: 40px;
  width: 40px;
  margin: auto 10px;
  border: 1px solid #414141;
  border-radius: 40px;
}
#ticket #ticket_main #select_station > li i {
  margin: 4px auto;
}
#ticket #ticket_main #select_station .ticket_title {
  margin-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #414141;
}
#ticket #ticket_main > div:nth-child(2) ul, #ticket #ticket_main > div:nth-child(3) ul, #ticket #ticket_main > div:nth-child(4) ul {
  width: 270px;
  margin: 0 auto;
}
#ticket #ticket_main > div:nth-child(2) ul:first-child, #ticket #ticket_main > div:nth-child(3) ul:first-child, #ticket #ticket_main > div:nth-child(4) ul:first-child {
  height: 30px;
  line-height: 30px;
}
#ticket #ticket_main > div:nth-child(2) ul:last-child, #ticket #ticket_main > div:nth-child(3) ul:last-child, #ticket #ticket_main > div:nth-child(4) ul:last-child {
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #414141;
}
#ticket #ticket_main .ticket_btn {
  float: right;
}
#ticket #ticket_main .ticket_btn a {
  display: inline-block;
  width: 40px;
  height: 22px;
  line-height: 20px;
  margin-left: 5px;
  font-size: 14px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  border-radius: 5px;
  color: #414141;
  background: #fff;
  border: 1px solid #cfcfcf;
}
#ticket #ticket_main .ticket_btn a.btn_selected {
  color: #fff;
  background: #005BAE;
  border: none;
}
#ticket #ticket_main #select_NumberOfPeople > li {
  width: 270px;
  margin: 0 auto;
  text-align: left;
}
#ticket #ticket_main #select_train .search_btn {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 60px;
  color: #fff;
  background: #005BAE;
  border-radius: 10px;
}
#ticket #ticket_main #select_train .search_btn i {
  margin-bottom: 8px;
}

#banner {
  margin-top: 400px;
  margin: 370px auto 0;
  width: 90%;
}
#banner #slide_banner {
  position: relative;
}
#banner #slide_banner li {
  margin: 0 5px;
}
#banner #slide_banner li img {
  width: 100%;
  border-radius: 20px;
}
#banner #slide_banner .slick-arrow {
  cursor: pointer;
  border: none;
  color: transparent;
  font-size: 0;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.3) 0px 2px 4px -1px;
  position: absolute;
  z-index: 5;
  top: 50%;
  transform: translateY(-50%);
}
#banner #slide_banner .slick-arrow::before {
  font-family: "xeicon";
  color: #414141;
  font-size: 20px;
  font-weight: 700;
  content: "\e940";
}
#banner #slide_banner .slick-arrow.slick-prev {
  left: -4%;
}
#banner #slide_banner .slick-arrow.slick-prev::before {
  content: "\e93d";
}
#banner #slide_banner .slick-arrow.slick-next {
  right: -4%;
}
#banner #slide_banner .slick-arrow.slick-next::before {
  content: "\e940";
}
#banner #slide_banner .slick-dots {
  text-align: center;
  margin-top: 5px;
}
#banner #slide_banner .slick-dots li {
  display: inline-block;
}
#banner #slide_banner .slick-dots li button {
  border: none;
  font-size: 0;
  color: transparent;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  background: #cfcfcf;
  cursor: pointer;
}
#banner #slide_banner .slick-dots li.slick-active button {
  background: #414141;
}

#contents {
  margin-top: 50px;
}
#contents ul.cf li:first-child {
  float: left;
  clear: both;
}
#contents ul.cf li:last-child {
  float: right;
}
#contents .contents_top {
  height: 70px;
  line-height: 70px;
}
#contents .contents_top .contents_title {
  color: #414141;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: 32px;
}
#contents .contents_top .more {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #414141;
}
#contents #announcement {
  width: 90%;
  margin: 0 auto;
}
#contents #announcement ul:first-child {
  border-bottom: 1px solid #8D8C8C;
}
#contents #announcement .announcement_board {
  height: 70px;
  line-height: 70px;
  font-family: "Noto Sans KR", sans-serif;
  border-bottom: 1px solid #8D8C8C;
  overflow: hidden;
}
#contents #announcement .announcement_board .ab_text {
  width: 75%;
  font-size: 16px;
  color: #414141;
  overflow: hidden;
}
#contents #announcement .announcement_board .ab_date {
  width: 20%;
  font-size: 12px;
  color: #414141;
  text-align: right;
}
#contents #magazine {
  margin: 50px auto 0;
  width: 90%;
}
#contents #magazine img {
  width: 100%;
}
#contents #magazine .magazine_title {
  height: 50px;
  line-height: 50px;
}
#contents #magazine .magazine_title .magazine_sub {
  font-family: "Noto Sans KR", sans-serif;
  color: #8D8C8C;
  font-size: 20px;
  font-weight: 700;
}
#contents #magazine .magazine_title .magazine_main {
  color: #414141;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 900;
  font-size: 28px;
}
#contents #magazine > li {
  height: 70px;
  color: #414141;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding-top: 10px;
}

/* responsive window */
.show_in_tablet {
  display: none;
}

.show_in_PC {
  display: none;
}

.category_text_add {
  display: none;
}

@media screen and (min-width: 740px) {
  #back_img {
    top: -80px;
  }
  #ham, #mobile_header {
    display: none;
  }
  #logo img {
    height: 50px;
  }
  header {
    height: 80px;
    position: absolute;
  }
  header li {
    height: 80px;
    line-height: 80px;
  }
  .show_in_tablet {
    display: block;
  }
  .category_text_add {
    display: inline;
  }
  #ticket {
    top: 240px;
  }
  #ticket #ticket_main {
    height: 300px;
    padding-top: 15px;
  }
  #ticket #ticket_main > div {
    float: left;
    width: 50%;
    height: 50%;
  }
  #ticket #ticket_main #select_date ul:first-child {
    margin-top: 26px;
  }
  #ticket #ticket_main #select_NumberOfPeople > li {
    margin-top: 6px;
  }
  #banner {
    margin-top: 260px;
  }
}
@media screen and (min-width: 980px) {
  #contents {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin: 50px auto 0;
  }
  #contents #magazine {
    margin: 0 0 0 40px;
  }
}
@media screen and (min-width: 1320px) {
  .show_in_PC {
    display: block;
  }
  #header_wrap, #main_menu, .sub_box {
    width: 1320px;
  }
  header {
    display: flex;
    justify-content: center;
  }
  #back_img {
    top: -120px;
    width: 100%;
    background-size: cover;
    background-position: bottom;
  }
  #main_menu li {
    font-size: 18px;
  }
  #ticket {
    width: 1280px;
    top: 280px;
  }
  #ticket #ticket_main {
    height: 200px;
    padding-top: 0;
  }
  #ticket #ticket_main > div {
    float: left;
    width: 25%;
    height: 100%;
  }
  #ticket #ticket_main #select_date ul:first-child {
    margin-top: 52px;
  }
  #ticket #ticket_main #select_NumberOfPeople > li {
    margin-top: 58px;
  }
  #ticket #ticket_main #select_train ul:first-child {
    margin-top: 52px;
  }
  #banner {
    margin-top: 250px;
    width: 1280px;
  }
  #contents {
    width: 1260px;
  }
}/*# sourceMappingURL=rwd.css.map */